<!doctype html>
<html>
    <head>
        <meta charset="utf-8">

        <title>Angry Caching Proxy</title>

        <style type="text/css" media="screen">
            body {
                font-family: Georgia;
            }
            a {
                text-decoration: none;
            }
            table {
                text-align: left;
            }
            .deleted {
                text-decoration: line-through;
            }
            tr:hover {
                background-color: lightblue;
            }
            .sort {
                cursor: pointer;
            }
            .search {
                width: 100%;
            }

            #cached-reqs td {
                white-space: nowrap;
                overflow: hidden;
                text-overflow:ellipsis;
            }
            #cached-reqs tr {
                font-size: 10pt;
            }
        </style>
    </head>
    <body>
      <h1>Extra Angry Caching Proxy</h1>

      <h3>Summary</h3>
      <p>

      There are {{files/length}} cached requests stored in

      <code>`{{cacheDir}}`</code>
      
      using <code>`{{total}}`</code> of disk space. 

      These files are cached forever (until removed manually)

      Feel free to use this proxy for all non-HTTPS request
      </p>

      <h3>Installed Cache Filters</h3>
      <table width="100%">
          <thead>
          <tr>
              <th></th>
              <th>Filter</th>
          </tr>
          </thead>

          <tbody class="list">
          {{#each filters}}
            <tr class="url-row">
                <td></td>
                <td>{{this}}</td>
            </tr>
          {{/each}}
          </tbody>
      </table>      


      <h3>Cached Files</h3>
      <div id="cached-reqs">

          <form action="/deleteall" method="post" accept-charset="utf-8">
              <p><input type="submit" value="clear all"></p>
          </form>

      <input type="text" class="search" placeholder="Search" autofocus >

      <table width="100%">
          <thead>
          <tr>
              <th></th>
              <th></th>
              <th class="sort" data-sort="size">Bytes</th>
              <th class="sort" data-sort="url">Url</th>
              <th class="sort" data-sort="timestamp">Created</th>
              <th>Sha1</th>
          </tr>
          </thead>

          <tbody class="list">
          {{#each files}}
          <tr class="url-row">
              <td><button class="delete" data-sha1="{{sha1}}" >clear</button></td>
              <td><a href="/req/{{sha1}}.json">meta</a></td>
              <td class="humanSize" title="{{size}}" >{{humanSize}}</td>
              <td class="url">
                  <a href="{{url}}">{{url}}</a>
              </td>
              <td class="created">{{created}}</td>
              <td class="sha1">{{sha1}}</td>

              <td class="size" style="display:none;" >{{size}}</td>
              <td class="timestamp" style="display:none;" >{{timestamp}}</td>
          </tr>
          {{/each}}
          </tbody>
      </table>
      </div>
    </body>
    <script type="text/javascript" charset="utf-8" src="/list.js"> </script>
    <script type="text/javascript" charset="utf-8" src="/client.js"> </script>
</html>
